input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0%;
  filter: invert(1);
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 2%;
}
input::-webkit-datetime-edit {
  position: relative;
  left: 2%;
}
span {
  color: #ed708e;
}
